@media (min-width : 768px) {
  body {
    background : url("http://griddle.it/720px-12-30px") repeat-y center top !important;
  }
}

@media (min-width : 992px) {
  body {
    background : url("http://griddle.it/940px-12-30px") repeat-y center top !important;
  }
}

@media (min-width : 1200px) {
  body {
    background : url("http://griddle.it/1140px-12-30px") repeat-y center top !important;
  }
}

h1 {
  font-family: Consolas, Helvetica, Arial, sans-serif;
}